#portfolio-index {
    position: relative;
    h1 {
        margin: 40px;
    }
    h2, h3, p {
        color: #000;
        text-align: left;
    }
}
.portfolio-item {

}
.thumbnail {
    width: 400px;
    height: 200px;
    background: #999;
}